head
  title Albers as a Millennial
  meta( name='viewport' content='text/html, width=device-width, utf-8, initial-scale=1' http-equiv='Content-Type' )
  meta(property='og:title' content='Albers as a Millenial')
  meta(property='og:description' content='Making generative art with JavaScript.')
  meta(property='og:image' content='social.jpg')
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/tachyons/css/tachyons.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexboxgrid/css/flexboxgrid.min.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
  script(src='node_modules/lodash/lodash.min.js')
  script(src='node_modules/d3/build/d3.min.js')
  script(src='node_modules/d3-array/build/d3-array.min.js')
  script(src='node_modules/d3-transition/build/d3-transition.min.js')
  script(src='node_modules/d3-scale/build/d3-scale.min.js')
body
  section.intro
    h2 Albers as a Millennial
    hr
    .row.pt5
      .col-xs-12.col-md-9
        h1 A series of generative images based on the works of Josef and Anni Albers.
        .button-group.mt5
          a.button( href='https://github.com/billyroh/albers' ) View Source
          a.button.ml3( href='https://speakerdeck.com/billyroh/albers-as-a-millennial' ) See Slides
  section.homage
    .row.bottom-xs
      .col-xs-12.col-md-6
        .canvas#homage
      .col-xs-12.col-md-6: .controls
        h3 Josef Albers
        h2: a.black( href='http://www.albersfoundation.org/art/josef-albers/paintings/homages-to-the-square/index/' ) Homage to the Square
        hr
        .row
          .col-xs-12.mt4
            label.homageType.fl.mr4
              input(
                type='radio'
                name='homageType'
                value='analogous'
                checked='checked'
              )
              span.pl2 Analogous
          .col-xs-12.mt3
            label.homageType.fl
              input.pr4(
                type='radio'
                name='homageType'
                value='triad'
              )
              span.pl2 Triad
        table
          tbody
            tr
              th H
              th S
              th L
              th
            tr
              td.pr2: input.homage-input#square1-h( type='number' min='0' max='360' )
              td.ph2: input.homage-input#square1-s( type='number' min='0' max='100' )
              td.ph2: input.homage-input#square1-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#square1-swatch
            tr
              td.pr2: input.homage-input#square2-h( type='number' min='0' max='360' )
              td.ph2: input.homage-input#square2-s( type='number' min='0' max='100' )
              td.ph2: input.homage-input#square2-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#square2-swatch
            tr
              td.pr2: input.homage-input#square3-h( type='number' min='0' max='360' )
              td.ph2: input.homage-input#square3-s( type='number' min='0' max='100' )
              td.ph2: input.homage-input#square3-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#square3-swatch
            tr
              td.pr2: input.homage-input#square4-h( type='number' min='0' max='360' )
              td.ph2: input.homage-input#square4-s( type='number' min='0' max='100' )
              td.ph2: input.homage-input#square4-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#square4-swatch  
        button.button.mt4( onclick='homage.dataset = getHomagePalette(); drawSquares()' ) Redraw
  section
    .row.bottom-xs
      .col-xs-12.col-md-6
        .canvas#fox
      .col-xs-12.col-md-6: .controls
        h3 Anni Albers
        h2: a.black( href='http://www.albersfoundation.org/art/anni-albers/prints/#slide13' ) Fox II
        hr
        .row
          .col-xs-12.mt4
            label.homageType.fl.mr4
              input(
                type='radio'
                name='foxType'
                value='analogous'
                checked='checked'
              )
              span.pl2 Analogous
          .col-xs-12.mt3
            label.homageType.fl
              input.pr4(
                type='radio'
                name='foxType'
                value='complementary'
              )
              span.pl2 Complementary
        table
          tbody
            tr
              th H
              th S
              th L
              th
            tr
              td.pr2: input.fox-input#fox1-h( type='number' min='0' max='360' )
              td.ph2: input.fox-input#fox1-s( type='number' min='0' max='100' )
              td.ph2: input.fox-input#fox1-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#fox1-swatch
            tr
              td.pr2: input.fox-input#fox2-h( type='number' min='0' max='360' )
              td.ph2: input.fox-input#fox2-s( type='number' min='0' max='100' )
              td.ph2: input.fox-input#fox2-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#fox2-swatch
            tr
              td.pr2: input.fox-input#fox3-h( type='number' min='0' max='360' )
              td.ph2: input.fox-input#fox3-s( type='number' min='0' max='100' )
              td.ph2: input.fox-input#fox3-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#fox3-swatch
        button.button.mt4( onclick='redrawFox()' ) Redraw
  section
    .row.bottom-xs
      .col-xs-12.col-md-6
        .canvas#orchestra
      .col-xs-12.col-md-6: .controls
        h3 Anni Albers
        h2: a.black( href='http://www.albersfoundation.org/art/anni-albers/prints/#slide12' ) Orchestra
        hr
        .row
          .col-xs-12.mt4
            label.fl.mr4
              input(
                type='radio'
                name='orchestraType'
                value='highContrast'
                checked='checked'
              )
              span.pl2 High Contrast
          .col-xs-12.mt3
            label.fl
              input.pr4(
                type='radio'
                name='orchestraType'
                value='lowContrast'
              )
              span.pl2 Low Contrast
        table
          tbody
            tr
              th H
              th S
              th L
              th
            tr
              td.pr2: input.orchestra-input#orchestra1-h( type='number' min='0' max='360' )
              td.ph2: input.orchestra-input#orchestra1-s( type='number' min='0' max='100' )
              td.ph2: input.orchestra-input#orchestra1-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#orchestra1-swatch
            tr
              td.pr2: input.orchestra-input#orchestra2-h( type='number' min='0' max='360' )
              td.ph2: input.orchestra-input#orchestra2-s( type='number' min='0' max='100' )
              td.ph2: input.orchestra-input#orchestra2-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#orchestra2-swatch
            tr
              td.pr2: input.orchestra-input#orchestra3-h( type='number' min='0' max='360' )
              td.ph2: input.orchestra-input#orchestra3-s( type='number' min='0' max='100' )
              td.ph2: input.orchestra-input#orchestra3-l( type='number' min='0' max='100' )
              td.pl2: .swatch.ba.b--black-10.br2#orchestra3-swatch
        button.button.mt4( onclick='redrawOrchestra()' ) Redraw
  script(src='javascripts/homage.js')
  script(src='javascripts/fox.js')
  script(src='javascripts/orchestra.js')
