head
  title Millenial Albers
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/tachyons/css/tachyons.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexboxgrid/css/flexboxgrid.min.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
  script(src='node_modules/lodash/lodash.min.js')
  script(src='node_modules/d3/build/d3.min.js')
  script(src='node_modules/d3-array/build/d3-array.min.js')
  script(src='node_modules/d3-transition/build/d3-transition.min.js')
  script(src='node_modules/d3-scale/build/d3-scale.min.js')
body
  section
    h1 Albers as a Millenial
  section.homage
    .row
      .col-xs-12.col-md-6
        .canvas#homage
      .col-xs-12.col-md-6
        h2 Homage to the Square
        h3 Josef Albers
        .row: .col-xs-12
          label.homageType.fl.mr4
            input(
              type='radio'
              name='homageType'
              value='analagous'
              checked='checked'
            )
            span.pl2 Analagous
          label.homageType.fl
            input.pr4(
              type='radio'
              name='homageType'
              value='complementary'
            )
            span.pl2 Complementary
        table
          tbody
            tr
              th
              th.tc H
              th.tc S
              th.tc L
            tr
              td.tr.pr2: .swatch.ba.b--black-10.br2#square1-swatch
              td.tc.ph2: input.ba.b--black-10.br2#square1-h( type='number' min='0' max='360' )
              td.tc.ph2: input.ba.b--black-10.br2#square1-s( type='number' min='0' max='100' )
              td.tc.pl2: input.ba.b--black-10.br2#square1-l( type='number' min='0' max='100' )
            tr
              td.tr.pr2: .swatch.ba.b--black-10.br2#square2-swatch
              td.tc.ph2: input.ba.b--black-10.br2#square2-h( type='number' min='0' max='360' )
              td.tc.ph2: input.ba.b--black-10.br2#square2-s( type='number' min='0' max='100' )
              td.tc.pl2: input.ba.b--black-10.br2#square2-l( type='number' min='0' max='100' )
            tr
              td.tr.pr2: .swatch.ba.b--black-10.br2#square3-swatch
              td.tc.ph2: input.ba.b--black-10.br2#square3-h( type='number' min='0' max='360' )
              td.tc.ph2: input.ba.b--black-10.br2#square3-s( type='number' min='0' max='100' )
              td.tc.pl2: input.ba.b--black-10.br2#square3-l( type='number' min='0' max='100' )
            tr
              td.tr.pr2: .swatch.ba.b--black-10.br2#square4-swatch
              td.tc.ph2: input.ba.b--black-10.br2#square4-h( type='number' min='0' max='360' )
              td.tc.ph2: input.ba.b--black-10.br2#square4-s( type='number' min='0' max='100' )
              td.tc.pl2: input.ba.b--black-10.br2#square4-l( type='number' min='0' max='100' )
  section
    .row
      .col-xs-12.col-md-6
        .canvas#movement
      .col-xs-12.col-md-6
        h2 Camino Real
        h3 Anni Albers
  
  script(src='javascripts/homage.js')
  script(src='javascripts/movement.js')
